<html>
	<title>Krarg Admin</title>
	<body bgcolor="#57595D">
		<div id="left" style="float:left; width:33%; position:relative; top:25%">
		</div>
		<div id="center" style="float:left; width:33%; position:relative; top:25%">
			<div id="worktime" style="text-align: center">
				<h1>Work time!</h1>
				<form id="form1" action="admin"  method="post" style="position:relative; width: 33%; left: 33%">
					<label style="margin-bottom: 5px">Reason:</label>
				    <input style="margin-bottom: 15px" type="text" name="reason"/>
					<label style="margin-bottom: 5px"for="appt">Busy Until: </label>
					<input style="margin-bottom: 15px" type="time" id="time" name="time">
					<input type="submit" style="position:relative; width: 33%; left: 33%">
				</form>
			</div>
			<div id="hasTime" style="text-align: center; display: none">
				<h1>Working....</h1>
				<h1>On <%= reason %></h1>
				<h1>Until <%= endtime %></h1>
				<button type="button" onclick="deleteData()">Stop Working</button>
			</div>
		</div>
		<div id="right" style="float:left; width:33%; position:relative; top:25%">
		</div>
		<script>
			if("<%= hasTime %>" == "true"){
				document.getElementById("worktime").style.display = "none";
				document.getElementById("hasTime").style.display = "block";
			}
			function deleteData() {
			    var xhttp = new XMLHttpRequest();
			    xhttp.onreadystatechange = function() {
			        if (this.readyState == 4 && this.status == 200) {
			        	document.getElementById("worktime").style.display = "block";
						document.getElementById("hasTime").style.display = "none";
			       }
			    };
			    xhttp.open("POST", "/delete", true);
			    xhttp.send();
			}
		</script>
	</body>
</html>